<div class="container">
	<footer class="footer">
		<small>
			<a href="https://github.com/gokhanileri94">Github</a> sayfasından blog sisteminin kaynak kodlarına ulaşabilirsiniz
		</small>
		<nav>
			<ul>
				<li>
					<%= link_to "About", pages_about_path %>
				</li>
				<li>
					<%= link_to "Home", pages_about_path %>
				</li>
			</ul>
		</nav>
	</footer>
</div>